export(fitBMA)
export(plotBMA)
export(summaryBMA)
exportClasses(bma)
exportClasses(sum.bma)
exportMethods(fitBMA)
exportMethods(initialize)
exportMethods(plot)
exportMethods(plotBMA)
exportMethods(print)
exportMethods(show)
exportMethods(summary)
exportMethods(summaryBMA)
